.centeredView {
  text-align: center;
}

.cards-bg {
  background-color: white;
}

.card .answerLabel {
  font-size: 20px;
  font-weight: bolder;
  color: blue;
  margin-right: 5px;
}

.card .questionLabel {
  font-size: 20px;
  font-weight: bolder;
  color: red;
  margin-right: 5px;
}

.myAnswer {
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: blue;
}
